;;; private.el --- private passwords  -*- lexical-binding: t; -*-

;;; Commentary:
;; Store sensitive passwords and other data here.

;; NOTE rename this file to private.el

;;; Code:

(defvar pvik-default-font "Hack")

(defvar pvik-is-osx nil)

(defvar pvik-default-notes-file "~/notes.org")
(defvar pvik-default-work-notes-file "~/work.org")

(defvar freenode-password "your password")
(defvar pvik-anthropic-token "...")
(defvar pvik-openai-token "...")

(defvar pvik-line-spacing 4)

(defvar pvik-default-font-height 88)

(defvar pvik-modeline-height 48)
(defvar pvik-modeline-active-font-height 82)
(defvar pvik-modeline-inactive-font-height 76)

(defvar pvik-left-frame-size 100)
(defvar pvik-bottom-frame-size 40)

(provide 'private)

;;; pvik-core.el ends here
