.cask/
racket-mode/
.lsp*
transient/
url/
eshell/
\#
.#recentf
.emacs.desktop
.emacs.desktop.lock
auto-save-list/
bookmarks
elpa/
layouts/
projectile-bookmarks.eld
recentf
var/
private.el
tramp
*.jar
.cache
ac-comphist.dat
.org-id-locations
org-roam.db
